<h2 id="title">Welcome to the Claimant Page!</h2>

 {{#if responseMessage}}
      <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}

<form>
    <div class="form-group">
      <label for="first_name">First Name</label>
      {{input id="first_name" class="form-control" value=model.first_name}}
    </div>
     
    <button class="btn btn-primary" {{action 'next' model}}>Next</button>
</form>
