<div class="container standard-form">
  <h2>Reset Password</h2>
  <form {{action 'confirm' on='submit'}}>
    <div>
      <label for="new_password">New password</label>
      {{input id='new_password'  type='password' value=new_password}}
    </div>
    <button type="submit">Reset password</button>
  </form>
</div>

